<app-topbar></app-topbar>

<div class="content">

    <div class="container">
        <div class="row">
            <div class="portlet portlet-boxed">
                <div class="portlet-body">
                    <a routerLink="/fptorder" class="btn btn-primary btn-jumbo btn-block ">Quản lý đơn hàng FPT</a>
                    <br>
                    <a routerLink="/sgporder" class="btn btn-secondary btn-lg btn-block ">Quản lý đơn hàng PSD</a>
                </div> <!-- /.portlet-body -->
            </div>
        </div>

    </div>


</div>