<div class="mainnav ">

  <div class="container">

    <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </a>

    <nav class="collapse mainnav-collapse" role="navigation">
      <ul class="mainnav-menu">

        <li>
          <a routerLink="/fptorder">
            Đơn hàng FPT
          </a>
        </li>
        <li>
          <a routerLink="/sgporder">
            Đơn hàng PSD
          </a>
        </li>
      </ul>

    </nav>

  </div> <!-- /.container -->

</div> <!-- /.mainnav -->